.head
    padding-bottom: 70px
    background-color: #F9F6F1
    .container
        .navWrapper
            padding-top: 60px
            margin-bottom: 126px
            .bgc
                background-color: #F9F6F1
                padding: 0
                width: 100% 
                .nav-item
                    font-weight: 500
                    font-size: 14px
                    line-height: 17px;
                    letter-spacing: 0.03em
                    color: #212121
                    padding: 0
                    a
                        color: #000
                        padding: 0
                    &:nth-last-child(5)
                        margin-right: 100px
                .basket
                    display: flex
                      
        .sliderWrapper
            justify-content: center
            .indicator
                bottom: -50px
                padding: 0
                background-color: transparent
                li
                    height: 7px
                    width: 40px
                    background-color: #CECECE
                    &.active
                        background-color: #D7B399
            .slideText
                .slideName
                    font-weight: normal
                    font-size: 30px
                    line-height: 37px
                    letter-spacing: 0.02em
                    color: #000000
                .slideTitle
                    font-weight: bold
                    font-size: 54px
                    line-height: 67px
                    letter-spacing: 0.04em
                    color: #000000
                .slideButton
                    font-size: 16px
                    line-height: 20px
                    letter-spacing: 0.03em
                    color: #FFFFFF
                    background-color: #D7B399
                    width: 240px
                    height: 55px
                    text-align: center
                    display: block
            .slideImg
                background-image: url(../img/shoes.png)
                background-repeat: no-repeat
                background-position: left bottom
                flex-basis: 50%
                min-height: 377px
                .noCost
                    font-weight: bold
                    font-size: 24px
                    line-height: 29px
                    text-align: right
                    letter-spacing: 0.05em
                    text-decoration-line: line-through
                    text-transform: uppercase
                    color: #000000
                .cost
                    font-weight: bold;
                    font-size: 42px
                    line-height: 51px
                    text-align: right
                    letter-spacing: 0.02em
                    text-transform: uppercase
                    color: #D84033






            
            
                            
