.head
    padding-bottom: 70px
    background-color: #F9F6F1

.navWrapper
    padding-top: 60px
    margin-bottom: 126px

.navbar-nav
    display: flex
    align-items: center
    max-width: 1140px
    width: 100%

.nav-item
    font-weight: 500
    font-size: 14px
    line-height: 17px;
    letter-spacing: 0.03em
    color: #212121
    padding: 0

    a
        padding: 0
        color: #000
        padding: 0 !important

.dropdown
    .dropdown-menu 
        background-color: #D7B399
            
        a.dropdown-item
            color: #ffffff  
            font-size: 16px
            line-height: 20px
            letter-spacing: 0.03em
            text-align: center
            padding: 7px 3px

            &:hover
                background-color: #a07558

.navbar-brand
    padding: 0
    img
        margin: 0 auto
        display: block
                
//--SLIDER

.sliderWrapper
    justify-content: center

    .indicator
        bottom: -50px
        padding: 0
        background-color: transparent

        li
            height: 7px
            width: 40px
            background-color: #CECECE

            &.active
                background-color: #D7B399


.carousel-inner
    .carousel-item
        .content-slide
            display: flex

.slideText
    .slideName
        font-weight: normal
        font-size: 30px
        line-height: 37px
        letter-spacing: 0.02em
        color: #000000
    .slideTitle
        font-weight: bold
        font-size: 54px
        line-height: 67px
        letter-spacing: 0.04em
        color: #000000
    .slideButton
        font-size: 16px
        line-height: 20px
        letter-spacing: 0.03em
        color: #FFFFFF
        background-color: #D7B399
        width: 240px
        height: 55px
        text-align: center
        display: block
        cursor: pointer
.slideImg
            min-height: 377px
            .noCost
                font-weight: bold
                font-size: 24px
                line-height: 29px
                text-align: right
                letter-spacing: 0.05em
                text-decoration-line: line-through
                text-transform: uppercase
                color: #000000
            .cost
                font-weight: bold;
                font-size: 42px
                line-height: 51px
                text-align: right
                letter-spacing: 0.02em
                text-transform: uppercase
                color: #D84033



@media screen and ( max-width: 992px) 
    #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav
            li
                text-align: center
                padding: 15px 0
//     .dropdown
//         margin-right: 20px
//     header.head
//         .container
//             .navWrapper
//                 padding-top: 20px
//                 nav.navbar
//                     #navbarSupportedContent.collapse.navbar-collapse
//                         ul.bgc
//                             li.nav-item
//                                 text-align: center
//                                 padding: 10px 0
//                                 margin: 0
//                                 margin-right: -8px!important

//                             a.navbar-brand
//                                 align-items: center
//                                 margin: 0
//                                 padding: 10px 0
//                                 img
//                                     display: block
//                                     margin: 0 auto

//                             .basket
//                                 display: none!important



@media screen and (max-width: 768px)
    
    .slideText
        h3.slideName
            font-size: 25px 
        h1.slideTitle
            font-size: 45px 
            
@media screen and (max-width: 576px)
    .carousel-inner
        .carousel-item
            .content-slide
                display: block
    .slideText
        h3.slideName
            font-size: 25px
            text-align: center !important
        h1.slideTitle
            font-size: 35px 
            text-align: center !important  
        a.slideButton
            margin: 0 auto
            margin-bottom: 10px
    .slideImg
        h4.noCost
            font-size: 25px 
        h2.cost
            font-size: 35px
        img
            width: 80% !important





            
            
                            
