$color: #D7B399;
    
.models
    background-color: #fff
    padding: 150px 0
    .container
        .title-section
            font-size: 36px
            margin-bottom: 103px
        .wrapper-mod
            .card-wrapper
            .my-bord
                border: 3px solid $color
                .card
                    .card-body
                        .color
                            color: $color!important
        .btn-primary
            background-color: $color!important
            color: #ffffff
            border: none!important
            margin-top: 121px