html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title The loop
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="./css/main.css")
    body
        header.head
            .container
                .navWrapper
                   nav.navbar.navbar-expand-lg.navbar-light.p-0
                        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                            span.navbar-toggler-icon
                        #navbarSupportedContent.collapse.navbar-collapse
                            ul.navbar-nav.justify-content-between
                                li.nav-item.dropdown.col
                                    a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Для мужчин
                                    .dropdown-menu(aria-labelledby='navbarDropdown')
                                        a.dropdown-item(href='#') Верхняя одежда
                                        a.dropdown-item(href='#') Свитер
                                        a.dropdown-item(href='#') Верхняя одежда
                                        a.dropdown-item(href='#') Свитер
                                        a.dropdown-item(href='#') Верхняя одежда
                                        a.dropdown-item(href='#') Свитер
                                li.nav-item.dropdown.col.mx-lg-5
                                    a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Для женщин
                                    .dropdown-menu(aria-labelledby='navbarDropdown')
                                        a.dropdown-item(href='#') Верхняя одежда
                                        a.dropdown-item(href='#') Свитер
                                        a.dropdown-item(href='#') Верхняя одежда
                                        a.dropdown-item(href='#') Свитер
                                        a.dropdown-item(href='#') Верхняя одежда
                                        a.dropdown-item(href='#') Свитер
                                li.nav-item.dropdown.col
                                    a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Для детей
                                    .dropdown-menu(aria-labelledby='navbarDropdown')
                                        a.dropdown-item(href='#') Верхняя одежда
                                        a.dropdown-item(href='#') Свитер
                                        a.dropdown-item(href='#') Верхняя одежда
                                        a.dropdown-item(href='#') Свитер
                                        a.dropdown-item(href='#') Верхняя одежда
                                        a.dropdown-item(href='#') Свитер
                                        
                                a.navbar-brand.col.col-lg-3(href='#') 
                                    img(src="img/logo.png", alt="logotype")
                                
                                li.nav-item.cash.col
                                    a.nav-link(href='#') Оплата
                                li.nav-item.col
                                    a.nav-link(href='#') Доставка
                                li.nav-item.col.col-lg-2
                                    a.nav-link.d-flex.justify-content-end(href='#') 
                                        img(src="img/basket.png", alt="basket")
                                

                .sliderWrapper
                    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                        ol.carousel-indicators.indicator
                            li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
                            li(data-target='#carouselExampleIndicators' data-slide-to='1')
                            li(data-target='#carouselExampleIndicators' data-slide-to='2')
                            li(data-target='#carouselExampleIndicators' data-slide-to='3')
                        .carousel-inner
                            .carousel-item.active
                                .content-slide
                                    .slideText.col-md-7.p-0
                                        h3.slideName.mb-3 Зимняя распродажа
                                        h1.slideTitle.mb-5 СКИДКИ ДО 90%
                                        a.slideButton.py-3 СМОТРЕТЬ МОДЕЛИ
                                    .slideImg.col-md-5.p-0
                                        h4.noCost.text-right 9 900 ₽
                                        h2.cost.text-right 1 900 ₽
                                        img.w-100(src="img/shoes.png", alt="sale")
                            .carousel-item
                                .content-slide
                                    .slideText.col-md-7.p-0
                                        h3.slideName.mb-3 Зимняя распродажа
                                        h1.slideTitle.mb-5 СКИДКИ ДО 90%
                                        a.slideButton.py-3 СМОТРЕТЬ МОДЕЛИ
                                    .slideImg.col-md-5.p-0
                                        h4.noCost.text-right 7 900 ₽
                                        h2.cost.text-right  900 ₽
                                        img.w-100(src="img/dress.png", alt="sale")
                            .carousel-item
                                .content-slide
                                    .slideText.col-md-7.p-0
                                        h3.slideName.mb-3 Зимняя распродажа
                                        h1.slideTitle.mb-5 СКИДКИ ДО 90%
                                        a.slideButton.py-3 СМОТРЕТЬ МОДЕЛИ
                
                                    .slideImg.col-md-5.p-0
                                        h4.noCost.text-right 5 900 ₽
                                        h2.cost.text-right 1 999 ₽
                                        img.w-100(src="img/shoes.png", alt="sale")
                            .carousel-item
                                .content-slide
                                    .slideText.col-md-7.p-0
                                        h3.slideName.mb-3 Зимняя распродажа
                                        h1.slideTitle.mb-5 СКИДКИ ДО 90%
                                        a.slideButton.py-3 СМОТРЕТЬ МОДЕЛИ
                
                                    .slideImg.col-md-5.p-0
                                        h4.noCost.text-right 10 900 ₽
                                        h2.cost.text-right 2 900 ₽
                                        img.w-100(src="img/shoes.png", alt="sale")
            
                            
        
        section.delivery   
            h2.titleSection БЕСПЛАТНАЯ ДОСТАВКА 
                span ОТ 3000₽
            p.discribeSection Сделайте заказ и получите подарок!

        section.clothes
            .wrap-cloth
                .cloth.man
                    .text-cloth
                        h3.title-section МУЖСКАЯ
                            span  КОЛЛЕКЦИЯ
                        p.sub-title Обувь, полуверы, костюмы
                        a.btn-cloth &#8594;
                .cloth.woman
                    .text-cloth
                        h3.title-section ЖЕНСКАЯ  
                            span КОЛЛЕКЦИЯ
                        p.sub-title Обувь, полуверы, костюмы
                        a.btn-cloth &#8594;
            .container
                .catalog-wrap
                    .item
                        h5.name-item платья
                    .item
                        h5.name-item туфли
                    .item
                        h5.name-item платья
                    .item
                        h5.name-item туфли
                    .item
                        h5.name-item платья
                    .item
                        h5.name-item туфли
                    .item
                        h5.name-item платья
                    .item
                        h5.name-item туфли




        section.models
            .container
                h2.title-section.text-center.text-uppercase.font-weight-bold Новые модели
                .wrapper-mod
                    .card-wrapper.col-4.col-md-6.col-lg-3
                        .card
                            img.card-img-top(src='img/models.png' alt='models')
                            .card-body
                                p.card-text Коктейльное платье
                                p.card-text.color ₽ 40 000
                    .card-wrapper.col-4.col-md-6.col-lg-3
                        .card
                            img.card-img-top(src='img/models.png' alt='models')
                            .card-body
                                p.card-text Коктейльное платье
                                p.card-text.color ₽ 40 000
                    .w-100
                    .card-wrapper.col-4.col-md-6.col-lg-3
                        .card
                            img.card-img-top(src='img/models.png' alt='models')
                            .card-body
                                p.card-text Коктейльное платье
                                p.card-text.color ₽ 40 000
                    .card-wrapper.col-4.col-md-6.col-lg-3
                        .card
                            img.card-img-top(src='img/models.png' alt='models')
                            .card-body
                                p.card-text Коктейльное платье
                                p.card-text.color ₽ 40 000

                a.my-btn.btn.btn-primary.col-12.col-sm-8.col-md-4.col-lg-3.py-3.mx-auto.d-block(href='#' role='button') ВСЕ МОДЕЛИ &rarr;


        section.sale
            .container
                .wrap-sale
                    h2.titleSection ПОЛУЧАЙТЕ СКИДКИ И ПОДАРКИ
                   
                    .input-group.col-12.mx-auto.col-md-5.ml-5.p-0.justify-content-between.align-items-center
                        input.form-control.col-12.col-sm-8.mx-auto.col-md-6.mb-0(type='email' placeholder="Ваш e-mail" aria-label="Ваш e-mail" aria-describedby='button-addon2')
                        .w-100
                        .input-group-append.offset-3.mx-auto
                            button#button-addon2.btn.col-12(type='button') ПОДПИСАТЬСЯ

        section.new-item
            .container
                h2.title-section.text-center.text-uppercase.font-weight-bold СКИДКИ ДО 90%
                .wrapper-mod
                    .card-wrapper.col-4.col-md-6.col-lg-3
                        .card
                            img.card-img-top(src='img/models.png' alt='models')
                            .card-body
                                p.card-text Коктейльное платье
                                p.card-text.color ₽ 40 000
                    .card-wrapper.col-4.col-md-6.col-lg-3
                        .card
                            img.card-img-top(src='img/models.png' alt='models')
                            .card-body
                                p.card-text Коктейльное платье
                                p.card-text.color ₽ 40 000
                    .w-100
                    .card-wrapper.col-4.col-md-6.col-lg-3
                        .card
                            img.card-img-top(src='img/models.png' alt='models')
                            .card-body
                                p.card-text Коктейльное платье
                                p.card-text.color ₽ 40 000
                    .card-wrapper.col-4.col-md-6.col-lg-3
                        .card
                            img.card-img-top(src='img/models.png' alt='models')
                            .card-body
                                p.card-text Коктейльное платье
                                p.card-text.color ₽ 40 000

                a.my-btn.btn.btn-primary.col-12.col-sm-8.col-md-4.col-lg-3.py-3.mx-auto.d-block(href='#' role='button') ВСЕ МОДЕЛИ &rarr;

        footer.footer
            .container
                .content-footer
                    .logo-text.col-md-12.mx-auto.col-lg-3
                        .logo
                            img(src="img/logo_white.png", alt="logotype")
                        p.disc-logo Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.
                    .w-100
                    .items-footer.p-0.col-12.col-md-12.offset-0.mx-auto.col-lg-7.offset-2.row
                        .list-group.col-6.col-md-3.mb-3.col-lg-3
                            h4.title-item Основные ссылки
                            a.list-group-item.list-group-item-action.active(href='#') О компании
                            a.list-group-item.list-group-item-action(href='#') Каталог
                            a.list-group-item.list-group-item-action(href='#') Доставка
                            a.list-group-item.list-group-item-action(href='#') Оплата
                        .list-group.col-6.col-md-3.col-lg-3
                            h4.title-item Категории
                            a.list-group-item.list-group-item-action.active(href='#') Мужская одежда
                            a.list-group-item.list-group-item-action(href='#') Женская одежда
                            a.list-group-item.list-group-item-action(href='#') Детская одежда
                            a.list-group-item.list-group-item-action(href='#') Для животных
                        .w-100
                        .list-group.col-6.col-md-3.col-lg-4
                            h4.title-item ПОЛЕЗНЫЕ ССЫЛКИ
                            a.list-group-item.list-group-item-action.active(href='#') Таблица размеров
                            a.list-group-item.list-group-item-action(href='#') Блог о моде
                            a.list-group-item.list-group-item-action(href='#') Наша миссия
                        .list-group.col-6.col-md-3.col-lg-2
                            h4.title-item СОЦ СЕТИ
                            a.list-group-item.list-group-item-action.active(href='#')
                                i.fab.fa-vk 
                                |  VK.com
                            a.list-group-item.list-group-item-action(href='#')
                                i.fab.fa-facebook-square
                                |  Facebook
                            a.list-group-item.list-group-item-action(href='#')
                                i.fab.fa-instagram
                                |  Instagram
            .copyright
                .container
                    .row.justify-content-between.align-items-center
                        p.copy Copyright © 2019. Все права защищены
                        a.policy(href="#") Политика приватности



        script(src="https://kit.fontawesome.com/9bdc228e6a.js" crossorigin="anonymous")
        script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
